Source: libusergrid-client-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Anuradha Weeraman (anu) <aweeraman@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl, libmoose-perl, libnamespace-autoclean-perl, liblog-log4perl-perl, librest-client-perl, liburi-template-perl, libmodule-build-perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/Usergrid-Client
Testsuite: autopkgtest-pkg-perl

Package: libusergrid-client-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl, libnamespace-autoclean-perl, liblog-log4perl-perl, librest-client-perl, liburi-template-perl, libmodule-build-perl
Description: Client for Apache Usergrid
 This package provides a simple Perl SDK for Apache Usergrid.
 .
 Usergrid is an Open Source Backend-as-a-Service (BaaS) composed of an
 integrated distributed NoSQL database, application layer and client
 tier with SDKs for developers looking to rapidly build web and/or
 mobile applications. It provides elementary services (user
 registration & management, data storage, file storage, queues) and
 retrieval features (full text search, geolocation search, joins) to
 power common app features.
